.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-highlight {
    border: 1px solid cyan;
}

#imgPreview {
    margin: 20px;
}

#noImg {
    width: 100px;
    height: 100px;
}

table.align-mid td {
    vertical-align: middle !important;
}

