<div class="panel panel-default">
    <div class="panel-body">
        <div class="auto-sliding mt-4">
            <a href="/products/all">
                <div class="go-to-shop-btn">
                    <p style="margin: 1rem 0"> Visit <br>our <br>Store &rarr;</p>
                </div>
            </a>
            
            <div class="slideshow-container">

                <div class="mySlides fade">
                    <img src="/images/banner-1.jpg" class="banner-img" >
                </div>
                
                <div class="mySlides fade">
                    <img src="/images/banner-2.jpg" class="banner-img" >
                </div>
                
                <div class="mySlides fade">
                    <img src="/images/banner-3.jpg" class="banner-img" >
                </div>
            </div>
        
        </div>
    </div>
</div>